button {
    border: 10px solid #000;
    cursor: pointer;
    height: 300px;
    margin: 0 -2px;
    outline: none;
    padding: 0;
    width: 300px;
}

#green {
    border-top-left-radius: 100%;
    background: rgba(35, 200, 82, 0.4);
}

#red {
    border-top-right-radius: 100%;
    background: rgba(254, 35, 34, 0.4);
}

#yellow {
    border-bottom-left-radius: 100%;
    background: rgba(243, 194, 16, 0.4);
}

#blue {
    border-bottom-right-radius: 100%;
    background: rgba(0, 103, 208, 0.4);
}

section {
    margin: 0 auto;
    top: 100px;
    position: relative;
    width: 600px;
    background-image: url('images/fondosimon.png');

}

#green.active,
#green:hover {
    background: rgba(35, 200, 82, 1);
}

#red.active,
#red:hover {
    background: rgba(254, 35, 34, 1);
}

#yellow.active,
#yellow:hover {
    background: rgba(243, 194, 16, 1);
}

#blue.active,
#blue:hover {
    background: rgba(0, 103, 82, 1);
}


#counter {
    border-radius: 50%;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -90px;
    margin-left: -108px;

    background: #000;
    color: #fff;

    font-family: Arial;
    font-size: 100px;
    line-height: 200px;
    text-align: center;
}

#buttons-container.blocked button {
    pointer-events: none;
}

.tittle {
    width: 620px;
    position: center;
    margin: 0 auto;
}

#tittle {
    margin-left: 310px;
    margin-top: 100px;
    position: center;
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#inicio {
    margin-top: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    height: 150px;
    width: 600px;
    border-radius: 30%;
}

.inicio {
    width: 620px;
    position: center;
    margin: 0 auto;
}